.textLeft {
  text-align: left;
}

.CN {
  @include CenString;
}

.aBlock {
  display: block;
}

.Iti {
  @include CenString;
  position: fixed;
  opacity: 1;
}

.blue {
  color: skyblue;
}

.satsuki {
  color: #ffaaaa;
}

.Kaiten:hover {
  transform: rotate(-360deg);
  transition-duration: 2s;
}

.margin50p {
  margin-top: $p50;
}

.flex-container {
  display: none;
}

.inblo {
  display: $IB;
}

.scale2:hover {
  transform: scale(1.55);
  transition-duration: 1s;
}

.Home {
  width: 160px;
  top: 600px;
  margin: 0px;
  border: none;
  font: {
    size: 36px;
  }
}

.Font {
  display: inline-block;
  font: {
    family: $Google0;
  }
  transform: skew(-20deg);
}

.C {
  font-size: 10px;
}

.headerState {
  border-bottom: solid 1px $ST;
  pointer-events: none;
}

.topState {
  color: $FB;
  pointer-events: none;
}

.Pagi {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(100, 100, 100);
  font: {
    size: 12px;
    weight: bold;
  }
  height: 25px;
  width: 25px;
  border: solid 1px;
}

.listState {
  color: white;
  border: solid 1px transparent;
  pointer-events: none;
}

.bgg {
  z-index: 2;
  position: absolute;
  width: $r100;
  height: 30px;
  background: #ffceae;
  border-bottom: solid 1px #000000;
  top: $p0;
  left: $p0;
}

.Line {
  display: none;
}

.disableN {
  z-index: 3;
  position: relative;
  display: $IB;
  top: 10px;
}

.triangle-bottom {
  display: $IB;
  border: {
    style: solid;
    width: 5px;
    color: $FB transparent transparent transparent;
  }
}

.point {
  cursor: zoom-in;
}

.PM {
  border: thin solid black;
}

.margin10 {
  margin-top: $p10;
}

.pinkLinks {
  color: $FB;
}
