.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.CN {
  @include CenString;
}

.aBlock {
  display: block;
}

.dateST {
  color: $ST;
  font-size: 20px;
}

.PPx {
  font-size: 20px;
}

.Iti {
  @include CenString;

  position: fixed;
  opacity: 1;
}

.blue {
  color: skyblue;
}

.satsuki {
  color: #faa;
}

.Kaiten:hover {
  transform: scale(2) rotate(-360deg);
  transition-duration: 2s;
}

.margin {
  margin-top: 150px;
}

.inblo {
  display: $IB;
}

.Font {
  display: inline-block;
  font: {
    family: $Google0;
  }

  transform: skew(-20deg);
}

.C {
  font-size: 10px;
}

.headerState {
  border-bottom: solid 1px $ST;
  pointer-events: none;
}

.Pagi {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(100 100 100);
  font: {
    size: 12px;
    weight: bold;
  }

  height: 25px;
  width: 25px;
  border: solid 1px;
}

.Line {
  display: none;
}

.triangle-bottom {
  display: $IB;
  border: {
    style: solid;
    width: 5px;
    color: $FB transparent transparent transparent;
  }
}

.point {
  cursor: zoom-in;
}

.PM {
  border: thin solid black;
}

.margin10 {
  margin-top: $p10;
}

.pinkLinks {
  color: $FB;
}

.gotop {
  z-index: 3;
  position: fixed;
  bottom: 50px;
  right: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #999;
  background: white;
  color: #333;
  border-radius: 50%;
}

.gotop::before {
  content: "";
  top: 24px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  width: 25%;
  height: 25%;
  margin: auto;
  position: absolute;
  transform: rotate(-45deg);
}

.Locale {
  width: 100%;
  height: 500px;
  border: none;
}

.massageButton {
  position: relative;
  left: 0%;
  right: 0%;
  margin: auto;
  border: solid 2px;
  padding: 15px;
  width: $p50 * 2.5;
  height: $p20 * 1;
  cursor: pointer;
  border-radius: 10px;
  font: {
    size: 16px;
    weight: bold;
  }
}
