$p0: 0px;
$p5: 5px;
$p10: $p5 * 2;
$p14: $p10 * 1.4;
$p20: $p10 * 2;
$p40: $p20 * 2;
$p50: $p10 * 5;
$p60: $p20 * 3;
$p80: $p20 * 4;
$p100: $p50 * 2;
$p200: $p50 * 4;

$r0: 0%;
$r25: 25%;
$r50: $r25 * 2;
$r100: $r50 * 2;

$Google0: "Hachi Maru Pop";
$Google: "Noto Serif JP", serif;

$IB: inline-block;
$NO: none;

$BG: #fff;
$ST: #666;
$FB: #ffaaaa;
$FE: #ffefef;
$YE: #f8f0df;
$ME: rgba(0, 0, 0, 0.75);

@mixin LRauto {
  margin-right: auto;
  margin-left: auto;
}

@mixin H1H2 {
  font-size: $p20;
  border-bottom: 5px solid #fff;
  @include LRauto;
}

@mixin H3 {
  font-weight: 100;
  font-size: 16px;
}

@mixin H5 {
  background: rgb(61, 81, 107);
  color: $ST;
  display: $IB;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0%;
  border-radius: 2px;
  font: {
    size: 14px;
    weight: 100;
  }
}

@mixin Hover {
  transition-duration: 0.1s;
  animation: 1.1s feed;
}

@mixin Menu {
  z-index: 4;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  border-left: solid 1px #000000;
  right: 0px;
  top: 0px;
  width: 100%;
  height: $r100;
  transition-duration: 0.5s;
}

@mixin CenString {
  position: absolute;
  inset: 0%;
  margin: auto;
  width: fit-content;
  height: fit-content;
}

@mixin BBMyellow {
  font: {
    family: $Google;
    size: 15px;
  }
}

@mixin Input {
  border: none;
  outline: none;
  width: $p50 * 8;
  height: $p20;
  border-radius: $p5;
  border: solid 1px #eaeaea;
}

@mixin Textarea {
  border: none;
  outline: none;
  width: $p50 * 10;
  height: $p50 * 8;
  border-radius: $p5;
  resize: vertical;
  overflow: auto;
  border: solid 1px #eaeaea;
}

@mixin Mbutton {
  position: absolute;
  left: 0%;
  right: 0%;
  margin: auto;
  background: $FB;
  border: solid 2px;
  color: #fff;
  padding: $r0;
  width: $p50 * 2;
  height: $p20 * 2;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}
