$p0:  0px;
$p5:  5px;
$p10: $p5*2;
$p14: $p10*1.4;
$p20: $p10*2;
$p40: $p20*2;
$p50: $p10*5;
$p60: $p20*3;
$p80: $p20*4;
$p100: $p50*2;
$p200: $p50*4;

$r0: 0%;
$r25: 25%;
$r50: $r25*2;
$r100: $r50*2;

$Google: 'Noto Serif JP', serif;

$IB: inline-block;
$NO: none;

$BG: #fafafa;
$ST: #666;
$FA: #ffaaaa;
$RP: #BC2E50;
$YE: #fffed5;


@mixin LRauto {
    margin-right: auto;
    margin-left: auto;
}

@mixin H1H2 {
    font-size: $p20;
    border-bottom: 1px solid #eaeaea;
    white-space: nowrap;
    @include LRauto;
}

@mixin H3 {
    font-weight: 100;
    font-size: 16px;
}

@mixin NAV {
    display: flex;
    justify-content: center;
    grid-gap: $p60;
    white-space: nowrap; 
}

@mixin Hover {
    transform: scale(1.01);
    transition-duration: 0.1s;
    animation: 1.1s feed;
}

@mixin Menu {
    z-index: 4;
    position: fixed;
    background-color: #ffedeb;
    left: 0px;
    top: 0px;
    width: $r100;
    height: $r100;
    transition-duration: 1s;
}

@mixin CenString {
    position: absolute;
    inset: 0%;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

@mixin BBMyellow {
    background: #fffed5;
    font: {
        family: $Google;
        size: 12px;
    }
}

@mixin Input {
    border: none;
    outline: none;
    width: $p50*6;
    height: $p20;
    border-radius: $p5;
}

@mixin Textarea {
    border: none;
    outline: none;
    width: $p50*8;
    height: $p50*6;
    border-radius: $p5;
    resize: vertical;
    overflow: auto;
}

@mixin Mbutton {
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;
    background: none;
    border: solid 2px;
    color: $ST;
    padding: $r0;
    width: $p50*2;
    height: $p20*2;
    cursor: pointer;
    border-radius: 10px;
}