@import "setting";
@import "parts";
@import "./PT/scrollbar";
@tailwind components;
@tailwind utilities;

html {
  // background-image: url(../public/image/image00.png);
  // background-position: center top;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  text-size-adjust: $r100;
  overflow: scroll;
  padding: 80px 80px 42px;
}

body {
  font: {
    family: $Google;
    weight: normal;
    size: 18px;
  }

  word-break: break-all;
  text-align: center;
  width: 1200px;
  color: $ST;

  @include LRauto;
}

article {
  padding: 150px;
}

div {
  white-space: pre-wrap;
  word-break: break-all;
}

.resizeimage img {
  width: 100%;
  transform: scale(0.95);
}

button {
  font: {
    family: $Google;
    weight: normal;
    size: 14px;
  }
}

.hLink li:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  margin: 20px;
}

.nav1 {
  z-index: 2;
  position: absolute;
  list-style: none;
  display: flex;
  right: 20px;
  grid-gap: 15px;
  white-space: nowrap;
  top: 5px;
}

.List {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
  list-style: none;
}

.Yohaku {
  padding: 400px 0;
}

.nav2 {
  z-index: 4;
  position: fixed;
  text-align: left;
  margin: -8px 0 0;
  padding: 8px 20px 8px 0;
  top: 80px;
  width: 50%;
  right: 15px;
  white-space: nowrap;
  background: white;
  border-radius: 4px;
  border: solid 1px gray;
  list-style: none;
  transition-duration: 0.2s;
}

.nav2 a {
  font-size: $p16;
  height: 20px;
  padding: 10px 10px 10px 0;
}

.nav2 li {
  padding: 8px 20px;
}

.menu {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  top: 0;
}

.menu li a {
  padding: 12px 20px;
  list-style-type: none;
}

.MenuList {
  visibility: collapse;
}

p {
  white-space: pre-wrap;
}

dt {
  font-size: $p10;
}

dd {
  margin-left: $p0;
  margin-bottom: $p20;
}

a {
  color: $ST;
  text-decoration: none;
}

.link li {
  list-style: none;
}

.scaleLinks:hover {
  @include Hover;
}

.scaleArticle:hover {
  @include Hover;
}

p {
  margin-top: 6px;
}

h1 {
  @include H1H2;
}

h2 {
  @include H1H2;

  display: $IB;
}

h3 {
  @include H3;
}

h5 {
  @include H5;
}

@keyframes feed {
  from {
    opacity: 0.05;
  }

  to {
    opacity: 1;
  }
}

.footerFix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
}

input {
  @include Input;
  @include LRauto;
  @include BBMyellow;

  border: solid 1px #eaeaea;
}

textarea {
  @include Textarea;
  @include LRauto;
  @include BBMyellow;

  border: solid 1px #eaeaea;
}

#massageButton {
  @include Mbutton;
}

.white {
  color: #fff;
}

.tyairo {
  color: #eeae8c;
}

.green {
  color: #26cf6c;
}

.topText {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 20px;
  font: {
    size: 50px;
    weight: bold;
  }

  padding-bottom: 5px;
  color: #957a59;
  background: linear-gradient(90deg, rgb(255 141 141), #ff8c00, #00d9ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
