@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
    -webkit-text-size-adjust: $r100;
    overflow: scroll;
    user-select: none;
  }
body {
    font: {
      family: $Google;
      size: 14px;
    }
    word-break: break-all;
    text-align: center;
    background: $BG;
    color: $ST;
    width: $r50;
    @include LRauto;
}

main {
  display: inline-block;
}

li {
    list-style-type: none;
  }
  
.nav1 {
    @include NAV;
}

.nav2 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  row-gap: 20px;
  font-size: 24px;   
}
  
.border {
  border-bottom: solid 1px $ST;
  pointer-events: none;
}


.CNT {
  margin-left: auto;
  margin-right: auto;
}


dt {
    font-size: $p10;
}
dd {
    margin-left: $p0;
    margin-bottom: $p20;
}
  
a {
    color: #666;
    text-decoration: none;
}
  
a.scale:hover {
    @include Hover;
}

p:hover {
    @include Hover;
  }

h1 {
    @include H1H2;
  }
  
h2 {
    @include H1H2;
}
  
h3 {
    @include H3;
}

@keyframes feed {
    from { opacity: 0.05; }
    to { opacity: 1; }
}

.footerFix {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
  }
  
  
  footer {
    margin-top: auto;
    padding: 20px;
  }

  input {
    @include Input;
    @include LRauto;
    @include BBMyellow;
  }
  
  textarea {
    @include Textarea;
    @include LRauto;
    @include BBMyellow;
  }
  
  #massageButton {
    @include Mbutton;
  }
  
  .MenuList  {
    visibility: collapse;
  }
  
  .MenuList [aria-expanded='true'] {
    @include Menu;
    visibility: visible;
  }
  
  .MenuList [aria-expanded='false'] {
    @include Menu;
    opacity: 0;
    visibility: unset;
  }
  
  