@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
  -webkit-text-size-adjust: $r100;
  overflow: scroll;
}
body {
  font: {
    family: $Google;
    weight: normal;
    size: $p14;
  }
  word-break: break-all;
  text-align: center;
  background: $BG;
  color: $ST;
  width: 600px;
  @include LRauto;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 12px;
}

.resizeimage img {
  width: 100%;
  transform: scale(0.95);
}

button {
  font: {
    family: $Google;
    weight: normal;
    size: 14px;
  }
}

li {
  list-style-type: none;
}

.nav1 {
  @include NAV;
}

.nav2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  row-gap: 20px;
  font-size: 14px;
}

.nav3 {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  gap: $p20;
}

.MenuList {
  visibility: collapse;
}

dt {
  font-size: $p10;
}
dd {
  margin-left: $p0;
  margin-bottom: $p20;
}

a {
  color: $ST;
  text-decoration: none;
}

.scaleLinks:hover {
  @include Hover;
}

.scaleArticle:hover {
  @include Hover;
}

p {
  margin-top: 6px;
}

h1 {
  @include H1H2;
}

h2 {
  @include H1H2;
  display: $IB;
}

h3 {
  @include H3;
}

h5 {
  @include H5;
}

@keyframes feed {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.footerFix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
}

input {
  @include Input;
  @include LRauto;
  @include BBMyellow;
}

textarea {
  @include Textarea;
  @include LRauto;
  @include BBMyellow;
}

#massageButton {
  @include Mbutton;
}

.migiue {
  z-index: 5;
  position: relative;
  top: -2px;
  right: -340px;
  font: {
    size: 30px;
    weight: bold;
  }
  width: 100px;
  white-space: nowrap;
}

.space {
  color: $ST;
  font-size: $p20;
  cursor: pointer;
}

.toggle {
  z-index: 3;
  position: relative;
  top: -2px;
  right: -410px;
}

.toggle [aria-expanded="true"] {
  transition-duration: 0.2s;
}

.toggle [aria-expanded="false"] {
  transform: rotate(-360deg);
  transition-duration: 0.2s;
}

.position {
  z-index: 1;
  position: relative;
  left: 200px;
  transform: scale(1);
}
.m0 {
  cursor: pointer;
}
