@import "setting";
@import "parts";
@import "./PT/scrollbar";

html {
  -webkit-text-size-adjust: $r100;
  overflow: scroll;
}
body {
  font: {
    family: $Google;
    weight: normal;
    size: 18px;
  }
  word-break: break-all;
  text-align: center;
  background: rgb(255, 240, 230);
  color: $ST;
  width: 600px;
  @include LRauto;
}

pre {
  white-space: pre-wrap;
}

code {
  font-size: 12px;
}

.resizeimage img {
  width: 100%;
  transform: scale(0.95);
}

button {
  font: {
    family: $Google;
    weight: normal;
    size: 14px;
  }
}

li {
  list-style-type: none;
}

.SideColumn-left {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0;
  left: 0;
  width: 500px;
  height: 100vh;
  background: #fff;
  border-right: solid 1px #eaeaea;
}

.SideColumn-right {
  position: fixed;
  display: flex;
  flex-flow: column;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: #fff;
  border-left: solid 1px #eaeaea;
}

ul {
  margin-left: -20px;
}
li {
  margin-top: 60px;
}

.nav1 {
  position: relative;
  font: {
    size: 20px;
  }
  text-align: center;
  white-space: nowrap;
  margin-top: 100px;
}

.MenuList {
  visibility: collapse;
}

dt {
  font-size: $p10;
}
dd {
  margin-left: $p0;
  margin-bottom: $p20;
}

a {
  color: $ST;
  text-decoration: none;
}

.scaleLinks:hover {
  @include Hover;
}

.scaleArticle:hover {
  @include Hover;
}

p {
  margin-top: 6px;
}

h1 {
  @include H1H2;
}

h2 {
  @include H1H2;
  display: $IB;
}

h3 {
  @include H3;
}

h5 {
  @include H5;
}

@keyframes feed {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.footerFix {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  padding: 20px;
}

input {
  @include Input;
  @include LRauto;
  @include BBMyellow;
}

textarea {
  @include Textarea;
  @include LRauto;
  @include BBMyellow;
}

#massageButton {
  @include Mbutton;
}

.white {
  color: #fff;
}

.tyairo {
  color: #eeae8c;
}

.migiue {
  z-index: 1;
  position: relative;
  right: 0px;
  font: {
    size: 50px;
    weight: bold;
    family: $Google0;
  }
  white-space: nowrap;
  background: #eeae8c;
  border: 2px solid;
  border-radius: 5px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  text-align: center;
}

.migiue:hover {
  transform: rotateX(360deg) rotateY(15deg);
  transition-duration: 1s;
}

.migiue:before {
  content: "";
  position: absolute;
  left: 1%;
  top: 5px;
  width: 98%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 12px 4px;
}
.migiue:after {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 5px;
  width: 98%;
  height: 2px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 50%,
    transparent 100%
  );
  background-size: 12px 4px;
}

.toggle {
  z-index: 3;
  position: relative;
  top: -2px;
  right: -410px;
}

.toggle [aria-expanded="true"] {
  transition-duration: 0.2s;
}

.toggle [aria-expanded="false"] {
  transform: rotate(-360deg);
  transition-duration: 0.2s;
}

.position {
  z-index: 1;
  position: relative;
  left: 200px;
  transform: scale(1);
}
