@import "setting";

.loader {
  z-index: 0;
  position: absolute;
  @include CenString;
  width: 260px;
  height: 260px;
  opacity: 0.2;
  animation: r2 10s linear infinite;
}
@keyframes r2 {
  0%   { transform: 
    rotate(0deg); 
  }
  100% { transform: 
    rotate(-360deg); 
  }
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
  color: $ST;
}

.inner.one {
  animation: rotate-one 4s linear infinite;
  border-bottom: 2px solid;
}

.inner.two {
  animation: rotate-two 4s linear infinite;
  border-right: 2px solid;
}

.inner.three {
  animation: rotate-three 4s linear infinite;
  border-top: 2px solid;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}